{% extends "auth/base.html" %}

{% block form %}
<form action="{{ url_for('auth.sign_up') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <div>
        <button type="submit">Add user</button>
    </div>
</form>

<form action="{{ url_for('auth.login') }}" method="get">
    <div>
        <button type="submit">Return to login page</button>
    </div>
</form>

{% endblock %}

